.footerContainer {
    display: none;
}

.mainContainer {
    margin: 3%;
}

h2 {
    margin-bottom: 3%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.card {
    margin: 3%;
    width: 25%;
    flex-direction: row;
}

.btn {
    background: linear-gradient(
        0deg,
        rgba(255, 181, 33, 1) 0%,
        rgba(255, 235, 103, 1) 100%
    );
    border: none;
}
