.container {
  text-align: center;
}

img {
  width: 10%;
}

h1,
h2 {
  color: #e6a31e;
}

.container * {
  margin: 3% 0;
}

p {
  line-height: 20px;
  text-align: justify;
}

.separator {
  margin: 0 auto;
  width: 25%;
  height: 2px;
  background-color: #e6a31e;
}

